// Globals
$dark-color: #222222;
$yellow-color: #fcce00;

// Bootstrap Overrides
$border-radius-base:0;
$navbar-height: 70px;
$jumbotron-bg: $dark-color;
$jumbotron-color: #ffffff;
$navbar-inverse-link-active-bg: $dark-color;
$heading-border: #eaeaea;

// Mixins
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

@mixin flat_success_button(){
	white-space:normal;
	padding:10px 19px;
	font-size:17px;
	line-height:1.471;
	border-radius: 6px;
	color: #ffffff;
	background-color: #2ecc71;
	border:none;
	border-color:#4cae4c;
	width:100%;
	display:inline-block;
	text-align:center;

	&:hover{
		text-decoration:none;
		background-color: #58d68d;
		border-color: #58d68d;
		color:white;
		outline:none;
	}
}

@mixin flat_info_button(){
	white-space:normal;
	padding:10px 19px;
	font-size:17px;
	line-height:1.471;
	border-radius: 6px;
	color: #ffffff;
	background-color: #3498db;
	border:none;
	border-color:#46b8da;
	width:100%;
	display:inline-block;
	text-align:center;

	&:hover{
		text-decoration:none;
		background-color: #5dade2;
		border-color: #5dade2;
		color:white;
		outline:none;
	}
}
$navbar-inverse-bg: #000;
$navbar-inverse-link-active-bg: $navbar-inverse-bg;
$icon-font-path: "./../js/vendor/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import "./../js/vendor/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";

.btn-flat-success{
	@include flat_success_button();
}

.btn-flat-info{
	@include flat_info_button();
}

html,body{
	height:100%;
}

.wrap{
	min-height:100%;
	height:auto;
	margin: 0 auto -200px;
	padding: 0 0 200px;
}

.navbar{
	margin-bottom:0;
	.container{
		margin:auto;

		.navbar-brand {
			padding: 17.5px 15px;
			img{
				width: 330px;
			}
		}
	}
}

$main-nav-height: 126px;
.main-nav.navbar{
	border-bottom: 4px solid $yellow-color;
	min-height:$main-nav-height;

	.navbar-toggle{
		margin-top: ($main-nav-height / 3);
		height: 50px;
		width: 50px;
		text-align: center;
		.icon-bar{
			width:25px;
		}
	}
	.nav > li > a {
		font-size:18px;
		line-height: $main-nav-height - ($navbar-padding-vertical * 2);
	}
}

.home-header{
	// background: url('/imgs/design/Website Layout 2/Mazak-Hero.jpg') no-repeat;
	// height: 350px;
	margin:0;
	padding:0;

	.jumbotron{
		background:none;
		h1,p{
			font-weight:300px;
			line-height:1.4em;
			// float: left;
			margin:0;
			padding:5px 15px;
			background:rgba(0,0,0,0.7);

			a{
				margin: 10px 0;
			}
		}
	}

	#homepage-carousel{
		.item img{
			max-height: 350px;
			overflow: hidden;
		}
	}
}

// Main View
.data-view{
	padding-bottom: 50px;
	h1,h2{
		letter-spacing: 0.07em;
		display:inline-block;
		font-weight:300;
		line-height: 1.389em;
	}

	h1{
		font-size:2.250em;
		border-bottom: 4px solid $heading-border;
	}

	.carousel-caption{
		background: rgb(0,0,0);
		background: rgba(0,0,0,0.6);
		border-radius: 8px;
	}

	.home-banners{
		margin:25px;
		& > .row{
			@include flexbox();
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: flex-start;
			align-content: space-around;
			.col-lg-4{
				flex-grow: 1;
				flex-basis: 250px;
				align-self: flex-start;
				border-right: 2px solid #6D6E70;
				@include flex(flex-grow);
				&:last-child{
					border-right:none;
				}
				h3{
					margin-top:0;
					font-size:32px;
					span,a{
						color: $gray;
					}
					a{
						text-decoration: none;
					}
				}
				p.lead{
					font-size: 16px;
					line-height: 20px;
					color: #000000;
					color: rgb(0, 0, 0);
					padding: 0 5px;
				}
			}
		}
	}

	.equipment-list{
		&.hidden-sm{
			@include flexbox();
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: flex-start;
			align-content: space-around;
			.group{
				flex-grow: 1;
				flex-basis: 400px;
				align-self: flex-start;
				@include flex(flex-grow);
				padding:15px;
			}
		}

		&.panel-group{
			margin-top: 15px;
			a{
				display:block;
				width:100%;
			}
		}
	}
}

.layout-footer{
	padding: 20px 10px;
	background:$navbar-inverse-bg;
	color:#ffffff;
	font-weight:400;
	font-size:12px;
	min-height:200px;

	.rights-reserved{
		border-left:1px solid white;
		padding-left:5px;
		margin-left:5px;
	}

	address{
		// text-align: right;
		img{
			margin: 5px 0;
			display:block;
			width:150px;
		}
	}

	.nav{
		li{
			border-right:1px solid white;
			line-height:0;
			&:last-child{
				border-right:none;
			}
		}
		li > a, li.active > a{
			background:none;
			color:#fff;
			&:hover, &:visited{
				color: #fff;
				background:none;
			}
		}
	}

	$margin:4px;
	.social-links{
		margin-top:41px - $margin;
		margin-right:14px;
		a{
			margin:$margin;
		}
	}
}

/* Small devices (tablets, 768px and down) */
@media (max-width: $screen-sm-min) {
	.navbar{
		.container{
			.navbar-collapse{
				float: none !important;
				font-size: 18px;
			}
		}
	}

	.home-header{
		display: none;
	}
	.data-view{
		.home-banners{
			& > .row{
				align-content:flex-start;
				justify-content: flex-start;
				flex-direction: column;
				.col-lg-4{
					border-right:none;
					margin-bottom:10px;
					.row{
						border-bottom: 2px solid #aeaeae;
						padding-bottom: 10px;
						.col-lg-2, .col-lg-9{
							display:inline-block;
						}
					}
				}
			}
		}
	}

	.layout-footer{
		.row {
			@include flexbox();
			flex-flow: row wrap;
			> div:nth-child(1){
				@include flex(1 auto);
				@include order(1);
				img{
					float:left;
					margin-bottom:10px;
				}
				.body{
					float:left;
					margin-left: 10px;
				}
			}
			> div:nth-child(2){
				@include flex(1 auto);
				@include order(0);
				margin-bottom: 20px;

				ul{
					float:none !important;
					li{
						text-align: left;
						display: block;
						float: none;
						width: 100%;
						border-right: none;
						border-top: 1px solid #5F5F5F;
						padding: 19px;
						padding-left: 20px;
						font-size: 22px
					}
				}
			}

			.social-links{
				float:left !important;
				margin: 20px auto 10px 30px;
				img{
					width: 40px;
				}
			}
			.body{
				font-size: 18px;
			}
		}
	}
}

@media (max-width: $screen-md-min){
	.data-view{
		.home-banners{
			.row{
				.col-lg-4{
					h3{
						font-size:24px;
					}
				}
			}
		}
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
	.navbar{
		.container{
			.navbar-collapse{
				font-size: 16px;
			}
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
	.navbar{
		.container{
			.navbar-collapse{
				float: right !important;
			}
		}
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
	.navbar{
		.container{
			.navbar-collapse{
				float: right !important;
			}
		}
	}
}