{{$q := .Quote}}

<div class="container">
	<h1><span>View Quote from {{$q.Name}}</span></h1>
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label class="control-label col-lg-2">Name</label>
			<div class="col-lg-6">
				<input type="text" class="form-control" value="{{$q.Name}}" readonly>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-lg-2">Company</label>
			<div class="col-lg-6">
				<input type="text" class="form-control" value="{{$q.Company}}" readonly>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-lg-2">Address</label>
			<div class="col-lg-6">
				<input type="text" class="form-control" value="{{$q.Address}}" readonly>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-lg-2">City</label>
			<div class="col-lg-6">
				<input type="text" class="form-control" value="{{$q.City}}" readonly>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-lg-2">State</label>
			<div class="col-lg-6">
				<input type="text" class="form-control" value="{{$q.State}}" readonly>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-lg-2">Postal Code</label>
			<div class="col-lg-6">
				<input type="text" class="form-control" value="{{$q.Zip}}" readonly>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-lg-2">Email</label>
			<div class="col-lg-6">
				<input type="text" class="form-control" value="{{$q.Email}}" readonly>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-lg-2">Website</label>
			<div class="col-lg-6">
				<input type="text" class="form-control" value="{{$q.Website}}" readonly>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-lg-2">Phone Number</label>
			<div class="col-lg-6">
				<input type="text" class="form-control" value="{{$q.Phone}}" readonly>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-lg-2">Fax Number</label>
			<div class="col-lg-6">
				<input type="text" class="form-control" value="{{$q.Fax}}" readonly>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-lg-2">Request Date</label>
			<div class="col-lg-6">
				<input type="text" class="form-control" value="{{$q.RequestDate}}" readonly>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-lg-2">Delivery Date</label>
			<div class="col-lg-6">
				<input type="text" class="form-control" value="{{$q.DeliveryDate}}" readonly>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-lg-2">Part Number</label>
			<div class="col-lg-6">
				<input type="text" class="form-control" value="{{$q.Part}}" readonly>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-lg-2">Quantity</label>
			<div class="col-lg-6">
				<input type="text" class="form-control" value="{{$q.Quantity}}" readonly>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-lg-2">Target Unit Cost</label>
			<div class="col-lg-6">
				<input type="text" class="form-control" value="{{$q.Cost}}" readonly>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-lg-2">Packaging Info</label>
			<div class="col-lg-6">
				<textarea class="form-control" readonly cols="30" rows="4">{{$q.PackagingInfo}}</textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-lg-2">Description</label>
			<div class="col-lg-6">
				<textarea class="form-control" readonly cols="30" rows="10">{{$q.Description}}</textarea>
			</div>
		</div>
	</form>
</div>