{{$t := .Testimonial}}

<div class="container">
	{{if IntegerGreater $t.ID 0}}
	<h1><span>Edit Testimonial</span></h1>
	{{else}}
	<h1><span>Add Testimonial</span></h1>
	{{end}}
	<form action="/admin/testimonials/{{$t.ID}}" class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
		<div class="form-group">
			<label for="title" class="control-label col-lg-2">Job Title</label>
			<div class="col-lg-6">
				<input type="text" class="form-control" id="title" placeholer="Enter job title" name="title" value="{{$t.Job.Title}}">
			</div>
		</div>
		<div class="form-group">
			<label for="desc" class="control-label col-lg-2">Job Description</label>
			<div class="col-lg-6">
				<textarea cols="30" rows="5" class="form-control" id="desc" placeholer="Enter job description" name="desc">{{$t.Job.Description}}</textarea>
			</div>
		</div>
		<hr>
		<div class="form-group">
			<label for="name" class="control-label col-lg-2">Testimonial Author</label>
			<div class="col-lg-6">
				<input type="text" class="form-control" id="name" placeholer="Enter testimonial author" name="name" value="{{$t.Mention.Name}}">
			</div>
		</div>
		<div class="form-group">
			<label for="copy" class="control-label col-lg-2">Testimonial</label>
			<div class="col-lg-6">
				<textarea cols="30" rows="5" class="form-control" id="copy" placeholer="Enter testimonial" name="copy">{{$t.Mention.Copy}}</textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-6 col-lg-offset-2">
				<button class="btn btn-danger" type="submit">Save</button>
			</div>

		</div>
	</form>
</div>