<div class="container-fluid row home-header" ng-if="carousel.length > 0">
	<div id="homepage-carousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#homepage-carousel" data-slide-to="i" ng-class="{ 'active' : i == 0 }" ng-repeat="(i, c) in carousel"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item" ng-class="{ 'active' : i == 0 }" ng-repeat="(i, c) in carousel">
				<img src="[[c.img]]" alt="[[c.title]]">
				<div class="carousel-caption">
				[[c.caption]]
				</div>
			</div>
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#homepage-carousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#homepage-carousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>
</div>

<div class="container-fluid home-banners">
	<div class="row">
		<div class="col-lg-4" ng-repeat="col in cols">
			<div class="row">
				<div class="col-lg-2">
					<img src="[[col.img]]" alt="[[col.title]]">
				</div>
				<div class="col-lg-9">
					<h3>
						<span ng-if="col.link == ''">[[col.title]]</span>
						<a href="[[col.link]]" title="[[col.title]]" ng-if="col.link != ''">[[col.title]]</a>
					</h3>
				</div>
				<div class="col-lg-2"></div>
			</div>
			<p class="lead">[[col.body]]</p>
		</div>
	</div>
</div>
