<div class="container-fluid">
	<h1>Request a Quote</h1>

	<p class="lead">[[heading]]</p>

	<div ng-if="formSuccess" class="row">
		<div class="col-lg-6 col-lg-offset-1 alert alert-success alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<strong>Success!</strong> Thank you for submitting your request, we will be in touch.
		</div>
	</div>

	<form class="quote-form form-horizontal" role="form">
		<div class="form-group" ng-class="{ 'has-error' : nameError }">
			<label for="name" class="control-label col-lg-2">Name</label>
			<div class="col-lg-4">
				<input type="text" class="form-control" id="name" placeholder="Enter your name" ng-model="quote.name" value="quote.name">
			</div>
			<div class="col-lg-6">
				<span class="help-block" ng-if="nameError">[[nameError]]</span>
			</div>
		</div>
		<div class="form-group" ng-class="{ 'has-error' : emailError }">
			<label for="email" class="control-label col-lg-2">Email Address</label>
			<div class=" col-lg-4">
				<input type="text" class="form-control" id="email" placeholder="Enter your email" ng-model="quote.email" value="[[quote.email]]">
			</div>
			<div class="col-lg-6">
				<span class="help-block" ng-if="emailError">[[emailError]]</span>
			</div>
		</div>
		<div class="form-group" ng-class="{ 'has-error' : phoneError }">
			<label for="phone" class="control-label col-lg-2">Phone Number</label>
			<div class="col-lg-4">
				<input type="text" class="form-control" id="phone" placeholder="Enter your phone number" ng-model="quote.phone" value="quote.phone">
			</div>
			<div class="col-lg-6">
				<span class="help-block" ng-if="phoneError">[[phoneError]]</span>
			</div>
		</div>
		<div class="form-group" ng-class="{ 'has-error' : descError }">
			<label for="desc" class="control-label col-lg-2">Description</label>
			<div class="col-lg-6">
				<textarea name="desc" id="desc" cols="30" rows="10" class="form-control" placeholder="Describe the project.." ng-model="quote.desc">[[quote.desc]]</textarea>
			</div>
			<div class="col-lg-4">
				<span class="help-block" ng-if="descError">[[descError]]</span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-6 col-lg-offset-2 well well-lg">
				<div class="row">
					<div class="col-lg-4">
						<button class="btn btn-primary" type="submit" ng-click="requestQuote()">Request Quote</button>
					</div>
					<div class="col-lg-6">
						<span class="help-block" ng-if="formError">[[formError]]</span>
					</div>
				</div>

			</div>
		</div>
	</form>
</div>