<div class="container" ng-controller="warranty">
	<h1>Activate Warranty</h1>
	<div class="clearfix"></div>

	<div ng-controller="survey">
		<script id="template/alert/alert.html" type="text/ng-template">
			<div class="alert" ng-class="{'alert-{{type || 'warning'}}': true, 'alert-dismissable': closeable}" role="alert">
				<button ng-show="closeable" type="button" class="close" ng-click="close()">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<div ng-transclude></div>
			</div>
		</script>

		<div class="alerts">
			<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
		</div>

		<div class="row">
			<form ng-submit="submitSurvey()" class="survey-form form-horizontal col-lg-7" data-id="{{survey.id}}" role="form">
				<!-- User Name -->
				<div class="question">
					<p class="text">Name</p>
					<div class="form-group row">
						<div class="col-sm-3">
							<input type="text" required class="form-control" ng-model="survey.user.fname" id="fname" placeholder="First name">
						</div>
						<div class="col-sm-4">
							<input type="text" required class="form-control" ng-model="survey.user.lname" id="lname" placeholder="Last name">
						</div>
					</div>
				</div>
				<div class="question">
					<p class="text">E-mail Address</p>
					<div class="form-group row">
						<div class="col-sm-10">
							<input type="text" required class="form-control" ng-model="survey.user.email" id="email" placeholder="E-mail address">
						</div>
					</div>
				</div>

				<div class="question" ng-repeat="question in survey.questions">
					<p class="text">{{ question.question }}</p>

					<div ng-switch on="question">
						<div ng-if="question.selects != undefined">
							<div class="form-group col-lg-6">
								<select required name="{{question.id}}" class="form-control" ng-model="question.answer">
									<option value="">-- Select Anser --</option>
									<option ng-repeat="select in question.selects" value="{{select.id}}">{{select.answer}}</option>
								</select>
							</div>
							<div class="form-group row">
								<div class="form-control col-lg-6" ng-repeat="answer in question.answers">
									<input required class="form-control" ng-model="question.answer" ng-repeat="answer in question.answers" name="{{question.id}}" placeholder="Enter answer..." type="{{answer.data_type}}">
								</div>
							</div>
						</div>
						<div ng-if="question.selects == undefined" class="row">
							<div class="col-lg-6">
								<input required class="form-control" ng-model="question.answer" ng-repeat="answer in question.answers" type="{{answer.data_type}}" name="{{question.id}}" placeholder="Enter answer...">
							</div>
						</div>
					</div>
				</div> <!-- End .questions -->
				<div class="form-group">
					<button type="submit" class="btn btn-success btn-block btn-lg">Submit</button>
				</div>
			</form> <!-- End .survey-form -->
		</div>
	</div>

	<h3>Warranty Information</h3>
	<p class="lead">CURT Manufacturing, LLC (CURT) warrants to the original purchaser (Purchaser), its products to be free from defect under normal use and service, ordinary wear and tear excepted, for the warranty period stated below, from the date of the original retail purchase, but subject to the limitations as set forth below.</p>

	<p><strong>Limitation on Warranty</strong></p>

	<p>CURT&rsquo;s obligation under the above warranty is limited to repair or replacement of the CURT Product (Product), at its option due to a manufacturing defect of the Product. CURT shall not be liable for the loss of or use of vehicles, loss of or damage to personal property, expenses such as telephone, lodging, gasoline, towing, tire damage or any other incidental or consequential damages incurred by the Purchaser, or any other person or entity.</p>
	<p>CURT will examine the returned Product. If CURT, in its exclusive discretion, determines that the defect or damaged Product is covered under this limited warranty, CURT will repair the Product or replace it at that time.</p>
	<p>Alterations to or misuse of the Product will void the warranty. For example, overloading or exceeding an automobile or trailer manufacturers&rsquo; weight ratings, or maneuvering motor vehicles equipped with Products at improper rate of speed, shall void the warranty on any of the Products. Failure to properly maintain and regularly inspect the Product according to the specific instruction sheet accompanying each Product shall also void the warranty.</p>
	<p>Some states do not allow the exclusion or limitation of incidental or consequential damages. If such exclusions or limitations are prohibited under the applicable law, the above limitation or exclusion may not apply.</p>
	<p>This Warranty gives you specific legal rights and you may also have other rights, which vary from state to state.</p>
	<p>The Purchaser, when returning a CURT Product, must observe the following steps:</p>
	<ol>
		<li>The Purchaser must have proof of purchase of any damaged Product and supply the same to the headquarters of CURT. The Purchaser must obtain from CURT (toll free number is 877-CURTMFG (877.287.8634)) a Returned Goods Authorization (RGA) number in order to return any damaged Product to CURT for inspection and evaluation under this Limited Warranty.</li>
		<li>The Purchaser must pay all handling charges and shipping costs to deliver Products to CURT and must send the damaged Product along with the RGA number and proof of purchase to CURT at 6208 Industrial Drive, Eau Claire, Wisconsin 54701.</li>
		<li>Upon receipt of damaged Product, CURT will determine whether the damaged Product is covered under the Limited Warranty. If it is, CURT will repair or replace the Product. If the Product is replaced, the Product that is originally returned by the Purchaser shall become the exclusive property of CURT. If the returned Product is not covered under the Limited Warranty, CURT will notify the Purchaser before taking any further action with regard to repair or replacement, which would be at the Purchaser&rsquo;s cost.</li>
	</ol>

	<h5>Products covered under the CURT Manufacturing, LLC limited warranty and term of warranties:</h5>

	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-6">
			<table class="table table-condensed table-bordered">
				<thead>
					<tr>
						<th>Product</th>
						<th>Coverage</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>R16 5th Wheel Roller</td>
						<td>Five Years Limited</td>
					</tr>
					<tr>
						<td>R16 5th Wheel Roller</td>
						<td>Five Years Limited</td>
					</tr>
					<tr>
						<td>Q16 5th Wheel Hitch</td>
						<td>Limited Lifetime</td>
					</tr>
					<tr>
						<td>Q20 5th Wheel Hitch</td>
						<td>Ten Years Limited</td>
					</tr>
					<tr>
						<td>R20 5th Wheel Hitch</td>
						<td>Ten Years Limited</td>
					</tr>
					<tr>
						<td>Q24 5th Wheel Hitch</td>
						<td>Ten Years Limited</td>
					</tr>
					<tr>
						<td>R24 5th Wheel Hitch</td>
						<td>Ten Years Limited</td>
					</tr>
					<tr>
						<td>OEM Compatible 5th Wheel Legs</td>
						<td>Limited Lifetime</td>
					</tr>
					<tr>
						<td>Trailer Couplers</td>
						<td>Three Years Limited</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-lg-6 col-md-6 col-xs-6">
			<table class="table table-condensed table-bordered">
				<thead>
					<tr>
						<th>Product</th>
						<th>Coverage</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Double Lock EZr Gooseneck</td>
						<td>Limited Limited</td>
					</tr>
					<tr>
						<td>Chrysler / RAM Gooseneck Hitch</td>
						<td>Limited Limited</td>
					</tr>
					<tr>
						<td>All Other Gooseneck Hitches</td>
						<td>Seven Years Limited</td>
					</tr>
					<tr>
						<td>Intergrated Sway Control</td>
						<td>Ten Years Limited</td>
					</tr>
					<tr>
						<td>Wiring and Electrical</td>
						<td>One Year Limited</td>
					</tr>
					<tr>
						<td>Triflex Brake Controller</td>
						<td>Limited Lifetime</td>
					</tr>
					<tr>
						<td>Reflex Brake Controller</td>
						<td>Limited Lifetime</td>
					</tr>
					<tr>
						<td>Discovery Brake Controller</td>
						<td>Limited Lifetime</td>
					</tr>
					<tr>
						<td>Venturer Brake Controller</td>
						<td>Limited Lifetime</td>
					</tr>
					<tr>
						<td>All Other Accessories</td>
						<td>One Year Limited</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<p class="Subhead" style="line-height:150%">
	<b>CURT Manufacturing Technical Support Line 800.798.0813</b></p>
	<p class="BodyCopy" style="margin-bottom:4.5pt;line-height:150%">CURT Manufacturing is here to help you with any questions regarding the following:</p>
	<p class="BulletPoints" style="margin-bottom:4.5pt;line-height:150%">Hitch installation&nbsp; &bull;&nbsp; Product orientation&nbsp; &bull;&nbsp; Trouble-shooting</p>
	<p class="BodyCopy">Our knowledgeable staff is available Monday through Friday 8:00am - 7:00pm CST</p>
	<p class="BulletPoints">If you wish to place an order, or have questions about your account, call 877.CURT.MFG for our customer service department.</p>
</div>
